<div>
    <h1>Product Data</h1>
    <form [formGroup]="productForm" (ngSubmit)="ProductForm()">
      <input type="text" pattern="^0*[1-9]\d*$" #box (change)="getProductsById()" placeholder="Enter ID"
        formControlName="id" min="1" />
      <br />
      <span id="error" *ngIf="id && id.invalid && id.touched">*Invalid Id <br /></span>
      <span id="error" *ngIf="dublicate == true">*ID already exits <br /></span>
      <br />
      <input type="text" placeholder="Enter Description" formControlName="description" />
      <br /><span id="error" *ngIf="description && description.invalid && description.touched">*Invalid
        Description<br /></span><br />
  
      <input type="number" oninput="this.value=Math.abs(this.value)" placeholder="Enter Quantity"
        formControlName="quantity" min="1" />
      <br /><span id="error" *ngIf="quantity && quantity.invalid && quantity.touched">*Invalid Quantity<br /></span><br />
  
      <input type="number" step="any" placeholder="Enter Unit price" formControlName="unitPrice" min="1" />
      <br /><span id="error" *ngIf="unitPrice && unitPrice.invalid && unitPrice.touched">*Invalid Unit
        Price<br /></span><br />
      <button class="btn" [disabled]="dublicate == true || productForm.invalid">
        Add
      </button>
    </form>
  </div>