ul {
    list-style-type: none;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: black;
    padding-left: 150px;
    padding-top: 10px;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;

  }
  
  li a:hover:not(.active) {
    background-color:white;
    color: black;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }
  #warehouse
  {
    padding-right: 620px;
    font-family: serif;
    font-size: 26px;
    color: white;
    padding-top: 2px;
  }
  #form
  {
    padding-bottom: 2px;
    font-size: 20px;
  }